/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Font awsome kit link */


/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 3rem 7.5rem;
    max-width: 78rem;
}
.theme-button{
    margin-top: 0rem;
    font-family: inherit;
    font-size: var(--normal-size);
    font-weight: var(--bold-text);
    color: #fff;
    background-color: #E02C6D;
    border: 1px solid transparent;
    width: 12.25rem;
    height: 2.75rem;
}
.theme-button:hover{
    cursor: pointer;
}

/* CSS custom properties */
:root{
    /* font size */
    --normal-size: 1rem;
    --medium-size: 1.5rem;
    --large-size: 1.75rem;

    /* font weight */
    --bold-text: 700;
    --semi-bold-text: 600;
}



/* header styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: var(--medium-size);
    font-weight: var(--bold-text);
}
.menu{
    font-size: var(--normal-size);
    font-weight: var(--semi-bold-text);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    
}
.menu li{
    margin-left: 2.025rem;

}
.menu li a{
    text-decoration: none;
    color: #3A3A3A;
}

/* main section styles */
.flex-container{
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}


.banner-description{
    max-width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner-description h1{
    font-size: 3.25rem;
    margin-bottom: 1rem;
}
.banner-description p{
    margin-bottom: 1rem;
    font-weight: var(--semi-bold-text);
    font-size: var(--normal-size);
}
#banner-button{
    align-items: start;
    border-radius: 44px;
}


.main-camera-section{
    position: relative;
    max-width: 45%;
    margin: 0px auto;
}
.main-camera{
    position: absolute;
    left: 0%;
    top: 7%;
}

/* company logo section styles */
.top-line{
    margin: 4rem auto 0rem auto;
}
.bottom-line{
    margin: 0rem auto 4rem auto
}
.company-logos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px auto;
}
.company-logos img{
    margin: 2rem 0rem;
    
}

/* Popular collection section styles */
.grid-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.card{
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: 5px 5px 50px  rgba(128, 128, 128, 0.418);
}
.card img{
    display: block;
    margin: 1rem auto;
}
.card h2,p{
    margin-left: 1rem;
}
.item-name{
    font-size: var(--large-size);
    font-weight: 500;
    margin-bottom: 1rem;
}
.price{
    font-size: var(--medium-size);
    font-weight: 400;
    margin-top: 0px;
}
.fa-star, .fa-star-half-stroke{
    color: #FB8200;
}
.card p{
    font-size: .9rem;
    font-weight: 600;
}
.see-more{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #E02C6D;
    margin-top: 10px;
}

/* responsive for small device */
@media screen and (max-width: 576px) {
    body{
        margin: 2rem 1rem;
    }
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu li{
        margin-left: 1.25rem;
    }
    /* banner section */
    .flex-container{
        flex-direction: column-reverse;
    }
    .banner-description{
        max-width: 80vw;
        margin: 1rem auto;
        justify-content: center;
        align-items: center;
    }
    .banner-description h1,p,button{
        
        text-align: center;
    }
    .banner-description h1{
        font-size: 2.2rem;
        
    }
    .main-camera-section{
        max-width: 80vw;
    }
    .main-camera-section img{
        width: 80vw;
    }
    
    /* company logo section */
    .company-logos{
        flex-wrap: wrap;
    }
    .top-line, .bottom-line{
        display: none;
    }

    /* popular collection section */
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
    .card img{
        margin: 1rem auto;
    }
    .card h2{
        text-align: center;
    }
    
}



/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px){
    body{
        margin: 2rem 1rem;
    }
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu{
        justify-content: center;
        align-items: center;
    }
    .menu li{
        margin-left: 1.25rem;
    }
        /* banner section */
        .flex-container{
            flex-direction: column-reverse;
        }
        .banner-description{
            max-width: 80vw;
            margin: 1rem auto;
            justify-content: center;
            align-items: center;
        }
        .banner-description h1,p,button{
            text-align: center;
        }
        .banner-description h1{
            font-size: 2.2rem;
            
        }
        .main-camera-section{
            max-width: 80vw;
        }
        .main-camera-section img{
            width: 80vw;
        }
        /* company logo section */
        .company-logos{
        flex-wrap: wrap;
        }
       
}

